* {
    margin: 0 ; 
    padding:0 ;
    box-sizing:border-box; 
}

body {
    min-height: 100%;
    background: #f0f0f0;
    display: flex; 
    overflow: hidden; /*visible scroll only in sidebar*/
    position: relative;
}

.sidebar{
    width:400px;
    min-width:220px;
    height:100vh;
    background:yellow;
    border-right:1px solid #ccc;
    padding:20px;
    overflow-y:auto;
}

.view-container{
    flex:1;
    position:relative;
    overflow: hidden;
    background:black;

}
.iso-container {
    position: absolute;
    left: 10%;
    top: 50%;
    margin-left: -360px;
    margin-top: -360px;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /*create 12 columns*/
    width: 720px;
    height:720px;
    transform-style: preserve-3d;
}

.tile{
    width:60px;
    height:60px;
    background: blue;
    border: 2px solid #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    color:aqua;
    font-weight:bold;
    font-size:13px;

    cursor:pointer;
    transition: all 0.25s ease; 
    user-select: none;    
}

/* Hover effect - Red border  */
.tile:hover {
    border-color: red; 
    background-color: lightgreen;
    color: blue;
    box-shadow: 0 0 0 3px red;
    transform: scale(1.12);
    z-index: 10; 
}

/*show what inside each category */
.tabcontent {
    display: none; 
    padding: 15px 0; 
    border-top: none; 
    grid-template-columns: repeat(3, 1fr); /* rmeember to add the scroll bar) */
    gap: 12px;
}
/* the item box thingy*/
.item-card { 
    border: 3px solid #000000;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-color-preview { 
    width : 100% ; 
    height: 70%;
    border-bottom: 3px solid #000000;
}

.item-card-name span {
    flex: 1;
    font-size:11px;
    color: #000000;
}