* {
    margin: 0 ; 
    padding:0 ;
    box-sizing:border-box; 
}

body {
    min-height: 100%;
    background: #f0f0f0;
    display: flex; 
    overflow: hidden; /*visible scroll only in sidebar*/
    position: relative;
}

.sidebar{
    width:500px;
    min-width:220px;
    height:100vh;
    background:yellow;
    border-right:1px solid #ccc;
    padding:20px;
    overflow-y:auto;
}

.view-container{
    flex:1;
    position:relative;
    overflow: hidden;
    background:black;

}
.iso-container {
    position: absolute;
    left: 10%;
    top: 50%;
    margin-left: -360px;
    margin-top: -360px;
    display: grid;
    min-width: 720px;
    min-height: 720px;
    transform-style: preserve-3d;
    cursor: pointer;
}

.tile{
    width:60px;
    height:60px;
    background: blue;
    border: 2px solid #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    color:aqua;
    font-weight:bold;
    font-size:13px;

    cursor:pointer;
    user-select: none;    
    transform-style: preserve-3d;
    overflow: visible;

}

/* Hover effect - Red border  */
.tile:hover {
    border-color: red; 
    background-color: lightgreen;
    color: blue;
    transform: scale(1.12);
    z-index: 10; 
    cursor:pointer
}

/*show what inside each category */
.item-category-content {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.items-scroll-container {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.tabcontent {
    display: none; 
    padding: 15px 0; 
    border-top: none; 
    grid-template-columns: repeat(3, 1fr); /* rmeember to add the scroll bar) */
    gap: 12px;
    transform: translateY(0);
    transition: transform 0.05s linear;
}

.tabcontent.active {
    display: grid;
}
/* the item box thingy*/
.item-card { 
    border: 3px solid #000000;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-card.active {
    border-color: red;
}
.item-color-preview { 
    width : 100% ; 
    height: 70%;
    border-bottom: 3px solid #000000;
}

.item-card-name span {
    flex: 1;
    font-size:11px;
    color: #000000;
}

.tools-bar { 
    display: flex; 
    flex-direction: column;
    gap: 10px; 
    left: 50%;
    background: yellow;
}

.tools-bar button{
    background: white;
    border: 2px solid yellow;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.tools-bar button:hover {
    background: lightgreen;
    border-color: green;
}

.change-grid_size {
    width: 100%;
    font-size:14px;
}
.wall-face {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    pointer-events: none;
    opacity:0.9;
}

.wall-direction-N {
    top: 0; left: 0; 
    transform-origin: 50% 0;
    transform: rotateX(90deg);
    border-bottom: 2px solid #000;
}
.wall-direction-S {
    top: 100%; left: 0; 
    transform-origin: 50% 0;
    transform: rotateX(90deg);
    border-top: 2px solid #000;
}

.wall-direction-W {
    left: auto; right: 0; top: 0;
    transform-origin: 100% 50%;
    transform: rotateY(90deg);
    border-left: 2px solid #000;
}

.wall-direction-E {
    left: 0; top:0; 
    transform-origin: 0 50%;
    transform: rotateY(-90deg);
    border-right: 2px solid #000;
}

.cube {
    position: absolute;
    left: 50% ; 
    top: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.cube-face {
    position: absolute;
    opacity: 0.9;
    border: 2px solid #000;
    box-sizing: border-box;
    backface-visibility: hidden;

}

/*top face of the cube - rember to make this cube placemetn placeable on top, the total z = 3 */
.cube-top {
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    pointer-events: auto;
}
.cube-face-ns {
    position:absolute;
    top:0; left:0;
    width: 100%;
    opacity: 0.9;
    pointer-events:none;
    transform-origin: 50% 0;
    box-sizing: border-box;
    transform: translateZ(var(--baseZ,0px)) rotateX(90deg);
    border-left: 2px solid #000;
}

.cube-face-ew {
    position:absolute;
    left:0; top:0;
    width:100%; /* account for the tile width */
    pointer-events:none;
    opacity:0.9; 
    transform-origin: 0 50%;
    transform:translateZ(var(--baseZ,0px)) rotateY(-90deg);
    border-right:2px solid #000;
}

.floor-layer-changer {
    width: 400px; 
    height: 200px; 
    background-color: white;  
    margin: 0 auto;
}

.layer-toolbar {
    display: flex;
    justify-content: space-between;
}

.Layer-list {
    height: 150px;
    overflow-y: auto;
    border: 1px solid black;
}

.Layer-list-item {
    padding: 5px;
    cursor: pointer;
}
.Layer-list-item.active {
    background-color: lightblue;
}